*{
     margin:0;
     padding:0;
     box-sizing: border-box;
     font-family: 'Open Sans', sans-serif;
 }
body{
     display:flex;
     justify-content: center;
     align-items: center;
     min-height: 100vh;
     background: #ED765E;
     background: -webkit-linear-gradient(to right, #ED765E, #FEA858);
     background: linear-gradient(to right, #ED765E, #FEA858);
   }
#campain_2m h6{
     opacity: 2;
     position: relative;
     display:block;
     color:#000000;
     text-align: center;
     margin:1px 0;
     font-weight: 500;
     text-transform: uppercase;
     letter-spacing: 0.1em;
 }

#campain_2m #box_count div span{
     height: 100px;
     width:400px;
     font-size: 1rem;
     letter-spacing: 0.2rem;
     z-index: 1;
     box-shadow: none;
     background:#4285f4;
     text-transform: uppercase;
     opacity: 2;
 }



#campain_2m #box_count div{
     position: relative;
     margin: 0 1px;
     -webkit-box-reflect: below 5px linear-gradient(transparent, #0004);
 }



----------------------------------
