<!DOCTYPE html>
 <html lang="en">
 <head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <meta http-equiv="X-UA-Compatible" content="ie=edge">
     <title>Chiến dịch 2M</title>
     <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
     <link rel="stylesheet" href="./static/style.css">
	 <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
	 <link rel="stylesheet" href="./static/flip.min.css">

 </head>
 <body>
 <style>
    .tick {
        padding-bottom: 1em;
        font-size:3em;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    }

    .tick-label {
        font-size:2em;
        text-align:center;
        width:600px;
        height: 160px;
    }

    .tick-group {
        margin:0 .25em;
        text-align:center;
        width:600px;
        height: 160px;
    }
</style>

	 <div class="tick" id="campain_2m"
	     data-value={{ totalContract }}
	     data-did-init="get_box">
	     <!--
	     The aria-hidden attribute below hides
	     the tick content from screenreaders
	     -->
		 <h6> Chiến dịch 2M</h6>
	    <div data-repeat="true" aria-hidden="true">
	        <span data-view="flip"></span>
	    </div>

         <div id="box_count">
             <div>
	             <span id="current_time">{{ current_time }}</span>
             </div>
         </div>
     </div>

	</div>
 </body>
<script>

     function get_time() {
            {% if totalContract > 0 %}
	         var current_time = document.getElementById("current_time");
	         var today = new Date();
	         var month = today.getMonth()+1;
			 var hours = today.getHours();
			 var minutes = today.getMinutes();
			 var seconds = today.getSeconds();
			 if (month < "10") { month = "0" + month; }
			 if (hours < "10") { hours = "0" + hours; }
			 if (minutes < "10") { minutes = "0" + minutes; }
			 if (seconds < "10") { seconds = "0" + seconds; }
	         var date = today.getDate() + '/' + month + '/' + today.getFullYear() + ' ' + hours + ":" + minutes + ":" + seconds;
	         current_time.innerHTML = date

	        {% endif %}


     }

     var current_time = setInterval(get_time, 1000);


    function get_box(tick) {


	    Tick.helper.interval(function() {

	        $.ajax({
			        url: "/get_count",
			        type: "GET",
			        dataType: "json",
			        success: function(resp){
			            console.log(resp)
			            tick.value = resp.newTotalContract
			        },
			        error: function(resp){
			            console.log(resp)
			        }
			})

	    }, 15000);


	}
 </script>
<script src="./static/flip.min.js"></script>
 </html>